<%- include ("templates/encabezado.ejs", {titulo:"Contáctanos"}) %>
  <form action="/contacto" id="formulario" method="POST">
    <label>Nombre</label>
    <input class="form-control mb-3" type="text" name="nombre" id="nombre" placeholder="Nombre">

    <label>Edad</label>
    <input class="form-control mb-3" type="text" name="edad" id="edad" placeholder="Edad">

    <button type="submit" class="btn btn-primary">Enviar datos</button>
  </form>
<%- include ("templates/pie.ejs") %>