<%- include ("templates/encabezado.ejs", {titulo:"Respuesta"}) %>
<div>Los datos del formulario son: </div>
<div class="alert alert-primary"><%= nombre %></div>
<div class="alert alert-success"><%= edad %></div>
<%- include ("templates/pie.ejs") %>